
.board {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(1, 1, 8, 0.68) 0%, rgb(9, 56, 121) 35%, rgb(24, 84, 95) 100%); ;
    background-image: url('../../assets/lvls/Jungle\ Night.jpg');
    background-position: center;
    width: 97%;
    height: 97vh;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    min-width: 400px;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: none;

}
.canvas{
    width: 100%;
    height: 100vh;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: none;
}

.gameOver{
    cursor: default;
    width: 100%;
    height: 100%;
}